
*{ box-sizing:border-box; font-family:"Calibri"; }


/*klase za boje texta*/

.white{ color:white }
.red{ color:red }
.green{ color:green }
.blue{ color:blue }
.grey{ color:grey }
.yellow{ color:yellow }


/*klase za pozadinske boje*/

.bg-red{ background:red }
.bg-green{ background:green }
.bg-blue{ background:blue }
.bg-grey{ background:rgb(41, 38, 38) }
.bg-grey-light{ background:rgb(240, 237, 237) }
.bg-yellow{ background:yellow }

.white-transparent{ background:rgba(255,255,255,0.5) }


/*klase za bordere*/

.border{ border:1px solid #ccc }
.border-left{ border-left:1px solid #ccc }
.border-right{ border-right:1px solid #ccc }
.border-bottom{ border-bottom:1px solid #ccc }
.border-h1{ border:1px solid #ccc }

/*klase za stilizovanje texta*/

.bold{ font-weight:bold }
.italic{ font-style:italic }
.text-center {text-align:center}
.text-left {text-align:left}
.text-right {text-align:right}

.block-10{
width:10%;
}
.block-20{
width:20%;
}
.block-25{
width:25%;
}
.block-30{
width:30%;
}
.block-33{
width:33.333%;
}
.block-40{
width:40%;
}
.block-45{
width:45%;
}
.block-50{
width:50%;
}
.block-60{
width:60%;
}
.block-70{
width:70%;
}
.block-80{
width:80%;
}
.block-90{
width:90%;
}
.block-95{
width:95%;
}
.block-100{
width:100%;
}
.center-block-10{
width:10%;
}
.center-block-20{
width:20%;
}
.center-block-30{
width:30%;
}
.center-block-40{
width:40%;
}
.center-block-50{
width:50%;
}
.center-block-60{
width:60%;
}
.center-block-80{
width:80%;
}
.center-block-90{
width:90%;

}
.center-block-960{
max-width:960px;
}
.center-block-1200{
max-width:1200px;
}

/*zajednicka svojstva za center blokove*/

.center-block-10,.center-block-20,.center-block-30, .center-block-40, .center-block-50,.center-block-60, .center-block-80, .center-block-90, .center-block-960, .center-block-1200{
margin:auto;
padding:20px;
}

/*zajednicka svojstva za float left blokove*/

.block-10,.block-20, .block-25, .block-30,.block-33, .block-40, .block-45, .block-50, .block-60, .block-70, .block-80, .block-90, .block-95, .block-100{
float:left;
padding:10px;
text-align:center;
}

/*klasa za input polja u formi*/

.form-field{
width:100%;
padding:10px;
border:1px solid #ccc;
background:rgba(255,255,255,0.9);
}
.button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: rgb(120, 120, 233);
    color: white;
    font-size: 20px;
}

/*klase za odbijanje od ivica*/
.h1-0 {
    padding: 0px;
}
.top-10 {
margin-top:10px;
}
.top-20 {
margin-top:20px;
}
.top-30 {
margin-top:30px;
}
.top-40 {
margin-top:40px;
}
.top-50 {
margin-top:50px;
}
.top-60 {
margin-top:60px;
}
.top-70 {
margin-top:70px;
}
.top-80 {
margin-top:80px;
}
.top-90 {
margin-top:90px;
}
.top-100 {
margin-top:100px;
}
.h1-100 {
margin:100px;
}
.bottom{
    padding-bottom: 0px;
}


/*klase za ponistavanje paddinga koji je dat na svim blokovima*/

.padd-h1-0{
padding:0;
}
.padd-0{
padding:0;
}

/*klase za slike*/

.leftnsive-img {
max-width:100%;
}
.height{
    min-height: 200px;
}
#glavni-block{
    background-color: white;
}

#prompt-block {
    display: none;
}
#popup-block{
 display: none;
}
#close-popup{
    display: none;
}
#prikazi-blok{
    height: 300px;
}

#popup-blok{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    left:0;
    }
#popup-content{
    background: white;
    margin: 200px;
    min-height: 400px;
}

#popupSadrzaj{
    width: 800px;
    min-height: 600px;
    background: white;
    margin: 50px auto;

}


/* Za Projekat */

.fontText-10 {
    font-size: 10px;
}
.fontText-20 {
    font-size: 20px;
}
.fontText-30 {
    font-size: 30px;
}
.fontText-40 {
    font-size: 40px;
}
.fontText-50 {
    font-size: 50px;
}

h2{
    font-weight: 400;
}
.text-left{
    text-align: left;
}

.responsive-img {
    max-width: 100%;

}
.button-2{
    width: 130px;
    height: 30px;
    border-radius: 5px;
    background: rgb(120, 120, 233);
    color: white;
    font-size: 15px;
}

img{
    display: block;
}

.right{
    float: right;
}
.left{
    float: left;
}
